.aboutMeHeader {
    background: linear-gradient(45deg, red, orange, indigo, violet, red, yellow, blue, green);
  -webkit-background-clip: text; /* For older browsers (Safari) */
  background-clip: text;
  color: transparent;
}
.heading {
    font-family: "Playfair Display", serif;

    border-radius: 10px;

    color: rgb(83, 81, 81);
    font-size: 20px;
    font-weight: bold;
  }
.carina-image {
  border-radius: 10px;
}

@media (max-width: 900px) {
  
  
}

  
  
  
  
  