.bookingHeader {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 80px;
    background: linear-gradient(45deg, red, orange, indigo, violet, red, yellow, blue, green);
    -webkit-background-clip: text; /* For older browsers (Safari) */
    background-clip: text;
    color: transparent;

}
.formQuestions {
    font-size: 25px;
}
.bookingButton{
    font-size: 20px;
}