body {
  background: linear-gradient(
    106.5deg,
    rgba(255, 215, 185, 0.91) 23%,
    rgba(223, 159, 247, 0.8) 93%
  );
}
.nav-color {
  background-color: #edb1f1;
}
.nav-item {
  font-weight: 600;
  font-size: 24px;
  padding: 12px;
}
.navbar-brand img {
  width: 60px;
  height: 60px;
}

section {
  padding-top: 20px;
}
.about-me section {
  margin: 20px auto;
  display: block;
  height: 300px;
  width: 1300px;
}
h1 {
  text-align: center;

  font-family: "Playfair Display", serif;
  font-size: 50px; /* Adjust font size as needed */
  color: solid; /* Make the text transparent initially */
  -webkit-text-fill-color: transparent; /* For Safari */
  -moz-text-fill-color: transparent; /* For Firefox */
  background-image: linear-gradient(
    to right,
    #ff0000,
    #ff7f00,
    #7f00ff,
    #ff0000,
    #00ff00,
    #0000ff
  );
  -webkit-background-clip: text; /* For Safari */
  -moz-background-clip: text; /* For Firefox */
  background-clip: text;
  padding-bottom: 50px;
}
hr {
  padding: 0px auto;
  margin: 0px auto;
  width: 100%;
  font-weight: bolder;
}
.landing-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("Images/testing.jpeg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 300px;
  margin: 40px 20px 40px 20px;
  font-family: "Playfair Display", serif;
  border-radius: 10px;
}
.landing-page button {
  padding: 10px 20px;
  border-radius: 10px;
  background: #edb1f1;
}
.landing-page button:hover {
  cursor: pointer;
  color: #edb1f1;
  background: #7f00ff;
}
.landing-page-title {
  color: #edb1f1;
  padding-bottom: 50px;
}

.heading {
  font-family: "Playfair Display", serif;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  color: rgb(83, 81, 81);
  font-size: 20px;
  font-weight: bold;
}

.first-image {
  border-radius: 10px;
  height: 500px;
  width: 600px;
  opacity: 1;
}
.first-image :hover {
  transform: scale(1.6);
  transition: all 300ms ease-in-out;
  opacity: 0.6;
}
.picture-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.sacred {
  color: white;
  font-size: 30px;
  font-family: "Playfair Display", serif;
}

.landing-page-pic1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("Images/image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  width: 100%;
  border-radius: 30px;
}
.landing-page-pic2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("Images/image-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  width: 100%;
  border-radius: 30px;
}
.landing-page-pic3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("Images/image-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  width: 100%;
  border-radius: 30px;
}
.landing-page-pic4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("Images/image-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  width: 100%;
  border-radius: 30px;
}
.lp-pic {
  box-shadow: 2px 2px 2px 2px rgb(80, 79, 79);
}
.lp-pic:hover {
  transition: all 900ms ease;
  cursor: pointer;
  transform: rotateY(180deg) translateZ(50px);
}
.email-link {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  display: block;
  color: black;
}
.email-link:hover {
  color: var(--branding-color);
}
.social-links {
  color: var(--branding-color);
  font-size: 24px;
  padding-bottom: 20px;
  transition: all 150ms ease-in-out;
  text-decoration: none;
}
.social-links a {
  border-radius: 40%;
  background-color: #e4ace9;
  padding: 5px 10px;
  margin: 20px 20px;
}
.social-links a :hover {
  color: white;
  background-color: var(--branding-color);
}
.link-space {
  padding: 20px 20px;
}
.contact-box {
  background-color: #e4ace9;
  padding: 30px 120px;
  border-radius: 10px;
}
.contact-box p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.submit {
  padding: 10px 20px;
  border-radius: 10px;
  background: #edb1f1;
}
.form-text {
  padding: 10px 80px;
  border-radius: 10px;
  background: #f0d9f1;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.lable-text {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
.word {
  padding: 20px;
}
.gallery-img {
  width: 200%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgb(80, 79, 79);
  border: 1px solid #885df1;
}
.gallery-img:hover {
  perspective: 250px;
  transition: all 300ms ease-in-out;
  transform: rotate(200deg) scale(2);
}
@media (max-width: 1100px) {
  .first-image {
    width: 300px;
    height: 300px;
  }
  .picture-grid {
    grid-template-columns: 4fr;
    align-items: center;
  }
  .picture-grid img {
    height: 50%;
  }

  .landing-page {
    padding: 150px;
  }
  .landing-page-title {
    display: none;
  }
  .landing-page-head {
    font-size: 20px;
  }
}
